mat-card {
    justify-content: center;
    width: 50%;
    align-items: center;
    margin: auto;
    margin-top: 2%;
}
mat-spinner{
    margin: auto;
}
input[type = "file"]{
    visibility: hidden;
}
.image-preview {
    height: 5rem;
    margin: 1rem 0;
}
.image-preview img {
    height: 100%;
}
/* form {
    justify-content: center;
    display: flex;
    align-items: center;
} */

/* mat-form-field {
    width: 100%;
    display: block;   
     justify-content: center;
    display: flex;
    width: 50%;
    align-items: center;
    margin: auto;
} */
button{
    align-items: center;
    margin: auto;

}